{% extends 'base.html.twig' %}

{% block title %}Tchat{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('asset/tchat.css') }}" />
<body>
<nav>

    <a href="{{path('app_accueil')}}" class="case">
        <img src="{{ asset('asset/img/accueil.svg') }}" alt="accueil-icon">
        <h2>Accueil</h2>
    </a>

    <a href="{{path('app_calendrier')}}" class="case1">
        <img src="{{ asset('asset/img/calendrier.png') }}" alt="calendrier-icon">
        <h2>Calendrier</h2>
    </a>

    <a href="{{path('app_tchat')}}" class="case">
        <img src="{{ asset('asset/img/tchat.svg') }}" alt="Tchat-icon">
        <h2>Tchat</h2>
    </a>

    <a href="{{path('app_notification')}}" class="case1">
        <img src="{{ asset('asset/img/notification.png') }}" alt="notif-icon">
        <h2>Notification</h2>
    </a>

    <a href="{{path('app_profil')}}" class="case">
        <img src="{{ asset('asset/img/profil.png') }}" alt="profil-icon">
        <h2>Profil</h2>
    </a>

</nav>

<section id="banner">

    <img id="banner__banner" src="{{ asset('asset/img/banner3.png') }}" alt="banner">
    <img id="banner__logo" src="{{ asset('asset/img/logo.png') }}" alt="logo">
    <img id="banner__notif" src="{{ asset('asset/img/notification.png') }}" alt="notif">
    <img id="banner__profil" src="{{ asset('asset/img/profil.png') }}" alt="profil">

</section>

<footer>
    <div class="ref">
        <h2>Contact :</h2>
        <h3>nemp@gmail.com</h3>
    </div>
    <div class="ref">
        <h2> Réseaux Sociaux</h2>
        <div class="ref__p1">
            <img class="ref__image " src="{{ asset('asset/img/instagram.png') }}" alt="Instagram">
            <h3>capitaine_nemo</h3>
        </div>
        <div class="ref__p2">
            <img class="ref__image " src="./SAE301/Cursed1.png">
            <h3>PierroPipo</h3>
        </div>
    </div>
</footer>
</body>
{% endblock %}
